* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: white;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #182a58;
  width: 100%;
  height: 10%;
}

.main {
  padding: 50px;
  display: flex;
  width: 100%;
  height: 80%;

  background-color: #0b1120;
}

.left {
  padding: 30px;
  width: 60%;
  height: 100%;
  background-color: #0b1120;
}
.right {
  width: 40%;
  height: 100%;
  background-image: url("https://images.indianexpress.com/2024/01/Poster-of-Animal.jpeg");
  background-size: cover;
  background-position-x: center;
}

.card {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0b1120;
  margin-bottom: 5px;

  padding-left: 5px;
  padding-right: 10px;
}

.card:hover {
  background-color: rgb(66, 63, 63);
}

img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.control {
  width: 100%;
  height: 10%;
  background-color: #101932;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h4 {
  padding: 16px;
  background-color: orangered;
  border-radius: 50%;
}
